@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

/* 去除ProTable toolbar的密度选择 */
.ant-pro-table {
  .ant-pro-table-list-toolbar {
    .ant-space-item:last-child {
      .ant-space-item:nth-child(2) {
        display: none;
      }
    }
  }
}

/* 省略之后的table link */
.project-link {
  span {
    color: @primary-color;
  }
}

.header-title {
  position: relative;
  display: flex;

  h1 {
    color: @primary-color;
    font-weight: 600;
  }

  .version {
    color: @primary-color;
    margin-top: 6px;
    margin-left: 4px;
  }
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// Compatible with IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}
